/* Header 1 - 27 */
.header__container{
    width: 100%;
    background-color: var(--bistre);
    color: white;
    font-weight: bold;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 0;
    top:0;
    left: 0;
    /* padding: 0; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.426);
    z-index: 1000;
    box-sizing: border-box;
    margin-right: 15px; /* scrollbar*/
    padding-left: 10px;
    padding-right: 10px;
}
.header__container .leaf{
    color: green;
    /* text-shadow: 1px 1px 3px rgba(200, 200, 200, 0.426); */

}

/* FishCard 29 - */
.fish__card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid grey;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.087);
    transition: .2s;

}
.fish__card:hover{
    /* transform: scale(0.9); */
    border: 5px solid var(--celestial-blue);
    opacity: 1;
    transition: .05s;
    box-shadow: var(--celestial-blue)  0px 0px 4px inset;
}
.fish__card img{
    transition: .2s;
}
.fish__card:hover img{
    transform: scale(1.1);
    opacity: 1;
    transition: .05s;
    /* box-shadow: black 1px 1px 1px; */
}
.card__selected{
    border: 2px solid rgb(255, 248, 43) !important;
}

@media only screen and (max-width: 480px) {
.fish__card{
    width: 80px;
    height: 75px;
    flex-basis: 75px;
    border-radius: 5px;

}
.fish__card:hover{
    /* transform: scale(0.9); */
    border: 5px solid var(--celestial-blue);
    opacity: 1;
    transition: .05s;
    box-shadow: var(--celestial-blue)  0px 0px 4px inset;
}
.fish__card img{
    transform: scale(0.5);
    transition: .2s;
}
.fish__card:hover img{
    transform: scale(0.6);
    opacity: 1;
    transition: .05s;
    /* box-shadow: black 1px 1px 1px; */
}
.card__selected{
    border: 2px solid rgb(255, 248, 43) !important;
}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .fish__card{
        width: 150px;
        height: 150px;
        flex-basis: 150px;
        border-radius: 5px;
    
    }
    .card__selected{
        border: 2px solid rgb(255, 248, 43) !important;
    }

}
