@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg: #ffffff;
  --font: #000000;
  --primary: #48acf0;
  --secondary: #594236;
  --tertiary: #cd1c10;
  --highlight--1: #93a3bc;

  --violet-jtc: #58355eff;
  --chili-red: #e03616ff;
  --maize: #fff689ff;
  --tea-green: #cfffb0ff;
  --celestial-blue: #5998c5ff;

  --tomato: #ff674dff;
  --wenge: #604d53ff;
  --bistre: #352208ff;
  --dark-spring-green: #2c6e49ff;
  --emerald: hsla(149, 69%, 51%, 1);

  --font--fam: 'Raleway', sans-serif;
  
}
/* Global Styles */
.app__container{
margin: 0;
padding: 0;
background-color: var(--maize);
top: 70px;
width: 100%;
position: absolute;
left: 0;
overflow: hidden;
height: 100%;
z-index: 1;

}
.page__container{
  background-color: tan;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  margin-right: 15px; /* scrollbar*/
  padding: 10px;
}
/* Removing Default Margin & Size */

h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: var(--font--fam);
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: var(--font--fam);
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  font-family: var(--font--fam);
}
p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
