/* Base Styles */
/* Home Page 1 -  */
.selector__box {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: space-around;
	background-color: var(--wenge);
}
.selector__box > button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.15s, smooth;
	opacity: 0.7;
	border: none;
	font-weight: bold;
}
.selected {
	opacity: 1  !important;
	border: 3px solid rgb(255, 255, 255) !important;
}
.selector__box > button:hover {
	transform: scale(1.1);
	opacity: 1;
	border: 3px solid rgb(255, 255, 255);
	box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.426);
}
.fish__btn {
	background-color: var(--celestial-blue);
	color: white;
}
.bug__btn {
	background-color: var(--dark-spring-green);
	color: white;
}
.dive__btn {
	background-color: var(--violet-jtc);
	color: white;
}
.hidden__btn {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	z-index: -50;
}
.creature__box {
	display: flex;
	margin-top: 70px;
	width: 100%;
	height: 480px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.creature__box__scrollable {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: start;
	align-items: auto;
	justify-content: start;
	gap: 2px;
}
/* Fish */
.fish__data__cont {
	display: flex;
	position: relative;
	justify-content: center;

}
.fish__data__title {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.fish__data__title h3 {
	font-weight: bold;
}
.fish__data__img {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.fish__data__img div {
	display: flex;
	position: relative;
	align-items: center;
	justify-self: center;
	border: 2px solid rgba(255, 255, 255, 0.176);
	border-radius: 5px;
	background-color: rgba(244, 244, 244, 0.087);
}
.fish__data__img div img {
	margin-right: auto;
	margin-left: auto;
}
.fish__data__items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    gap: 5px;
}
.data__item {
	display: flex;
	align-items: center;
    justify-content: center;
}
.data__item__1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.data__item span {
	display: flex;
	align-items: center;
	justify-items: center;
	background-color: rgba(255, 255, 255, 0.373);
	font: var(--font--fam);
	font-weight: bold;
}
.data__item__1 span {
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.373);
	font: var(--font--fam);
	font-weight: bold;
}

.icon {
	margin-right: 5px;
	font-size: 15px;
}
.north {
	rotate: -90deg;
}
.south {
	rotate: 90deg;
}
/* Mobile Styles */
@media only screen and (max-width: 480px) {
	.selector__box {
		width: 100%;
		height: 70px;
	}
	.selector__box > button {
		transition: 0.15s, smooth;
		border: 3px solid rgba(255, 255, 255, 0.39);
		border-radius: 10px;
		width: 120px;
		height: 40px;
		font-size: 17px;
		gap: 10px;
	}
    .creature__box {
        display: flex;
        margin-top: 70px;
        width: 100%;
        height: 330px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
	.fish__data__cont {
		flex-direction: column;
		justify-content: center;
		padding: 10px;
        padding-bottom: 40px;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.096);
        border: 3px solid rgba(255, 255, 255, 0.39);
        border-radius: 10px;
        margin: 10px 2.5px 10px 2.5px;
        
	}
	.fish__data__title {
		height: 40px;
	}
	.fish__data__title h3 {
		font-size: 30px !important;
		font-weight: bold;
	}
	.fish__data__img {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 420px;
        margin-top: 5px;
        margin-bottom: 5px;
	}
	.fish__data__img div {
		width: 350px;
        height: 140px;
	}
	.fish__data__img div img {
		margin-right: auto;
		margin-left: auto;
        transform: scale(1.1);
	}
	.fish__data__items {
		align-items: center;
		width: 100%;
        
	}
	.data__item {
		height: 60px;
        width: 225px;
        flex-direction: column;
        text-align: left;
        padding: 0px 62.5px 5px 62.5px;
        border: 2px solid rgba(255, 255, 255, 0.176);
        border-radius: 5px;
        background-color: rgba(244, 244, 244, 0.087);
	}
    .data__item p{
        font-size: 20px;
        width: 100%;
    }
    .data__item span {		
		margin-left: 10px;
		border-radius: 5px;
		padding: 2.5px 5px;
		font-size: 20px; 
	}
	.data__item span p {
		font-size: 16.5px;
	}

    .data__item__1 {
		height: 105px;
        width: 225px;
        flex-direction: column;
        text-align: left;
        padding: 0px 62.5px 5px 62.5px;
        border: 2px solid rgba(255, 255, 255, 0.176);
        border-radius: 5px;
        background-color: rgba(244, 244, 244, 0.087);
        gap: 5px;
    }
    .data__item__1 p{
        font-size: 20px;
        /* width: 100%; */
    }
	
    .data__item__1 span {		
		margin-left: 10px;
		border-radius: 5px;
		padding: 2.5px 5px;
		font-size: 20px;
        width: 270px;
        justify-content: space-evenly;
        flex-direction: row;
        height: 25px;
        gap: 5px;
        /* padding-left: 10px; */
	}
	.data__item__1 span p {
		font-size: 16.5px;
	}
	.icon {
		margin-right: 5px;
		font-size: 15px;
	}
	.north {
		rotate: -90deg;
	}
	.south {
		rotate: 90deg;
	}
}
